@font-face {font-family: "Pixelar";
  src: url("../fonts/Pixelar.eot"); /* IE9*/
  src: url("../fonts/Pixelar.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Pixelar.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/Pixelar.woff") format("woff"), /* chrome、firefox */
  url("../fonts/Pixelar.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/Pixelar.svg#Pixelar") format("svg"); /* iOS 4.1- */
}

* {
  font-family: Pixelar;
  box-sizing: border-box;
  text-shadow: 3px 3px black;
}
body,html {
  width: 100%;
  height: 100%;
  padding:0;
  margin:0;
  font-family: Stardew;
}

.bg {
  background: url("../images/wallpaper.jfif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  align-content: space-around;
 }


#logo{
  font-family: Pixelar;
  font-size: 70px;
}

.campoNome{    
  background: transparent;
  background-image: url("../images/field.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 60vh;
  height: 80px;
  border: none;
  outline: none;
  font-size: 70px;
  text-align: center;          
}

h1 {
  font-family: Pixelar, sans-serif;
  color: #5084A7;
  font-size: 30px;
  font-style: normal;
  padding-bottom: -10px;
}

#list{
  font-family: Pixelar, sans-serif;
  color: #5084A7;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  overflow: auto;
}
input{
  font-family: Pixelar;
  color: #5084A7;
  background:  transparent;
  border:  none;
  font-size: 50px;
  cursor: pointer;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

th {
  font-family: Pixelar, sans-serif;
  font-size: 50px;
  color: #5084A7;
}

th a #jogar #rankingButton #buttonBack {
  text-decoration: none;
  color: #5084A7;
}
li {
  margin-right: 30px;
}

#ranking, #menu, #addRanking{
  display: none;
}
.hide{
  display: none;
}